{% extends "base.html" %}

{% block title %}Grade Distribution{% endblock %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Dreate three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 15px;
        }

        /* Dlear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
<body>

{% if grade_distribution_list %}
<ul>
    {% for grade_distribution in grade_distribution_list %}
    <li><a href="#">{{grade_distribution.grade_distribution_id}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No grade distribution are available.</p>
{% endif %}

{% if error %}
<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Failed -</strong> Error: Please check inputs!
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="grade_distribution_id">Grade Distribution ID</label>
        <input type="number" class="form-control" id="grade_distribution_id" name="grade_distribution_id"
               aria-describedby="gradeDistributionIDHelp" min="0"
               placeholder="Enter an ID" required>
        <small id="gradeDistributionIDHelp" class="form-text text-muted">Enter grade distribution id or enter exist for edit</small>
    </div>

    <div class="form-group">
        <label for="A_plus">A+ Grade</label>
        <input type="number" class="form-control" id="A_plus" name="A_plus"
               aria-describedby="aPlusHelp" min="0"
               placeholder=0 required>
        <small id="aPlusHelp" class="form-text text-muted">Enter amount for A+</small>
    </div>
    <div class="form-group">
        <label for="A">A Grade</label>
        <input type="number" class="form-control" id="A" name="A"
               aria-describedby="aHelp" min="0"
               placeholder=0 required>
        <small id="aHelp" class="form-text text-muted">Enter amount for A</small>
    </div>
    <div class="form-group">
        <label for="A_minus">A- Grade</label>
        <input type="number" class="form-control" id="A_minus" name="A_minus"
               aria-describedby="aMinusHelp" min="0"
               placeholder=0 required>
        <small id="aMinusHelp" class="form-text text-muted">Enter amount for A-</small>
    </div>

    <div class="form-group">
        <label for="B_plus">B+ Grade</label>
        <input type="number" class="form-control" id="B_plus" name="B_plus"
               aria-describedby="bPlusHelp" min="0"
               placeholder=0 required>
        <small id="bPlusHelp" class="form-text text-muted">Enter amount for B+</small>
    </div>
    <div class="form-group">
        <label for="B">B Grade</label>
        <input type="number" class="form-control" id="B" name="B"
               aria-describedby="bHelp" min="0"
               placeholder=0 required>
        <small id="bHelp" class="form-text text-muted">Enter amount for B</small>
    </div>
    <div class="form-group">
        <label for="B_minus">B- Grade</label>
        <input type="number" class="form-control" id="B_minus" name="B_minus"
               aria-describedby="bMinusHelp" min="0"
               placeholder=0 required>
        <small id="bMinusHelp" class="form-text text-muted">Enter amount for B-</small>
    </div>

    <div class="form-group">
        <label for="C_plus">C+ Grade</label>
        <input type="number" class="form-control" id="C_plus" name="C_plus"
               aria-describedby="cPlusHelp" min="0"
               placeholder=0 required>
        <small id="cPlusHelp" class="form-text text-muted">Enter amount for C+</small>
    </div>
    <div class="form-group">
        <label for="C">C Grade</label>
        <input type="number" class="form-control" id="C" name="C"
               aria-describedby="cHelp" min="0"
               placeholder=0 required>
        <small id="cHelp" class="form-text text-muted">Enter amount for C</small>
    </div>
    <div class="form-group">
        <label for="C_minus">C- Grade</label>
        <input type="number" class="form-control" id="C_minus" name="C_minus"
               aria-describedby="cMinusHelp" min="0"
               placeholder=0 required>
        <small id="cMinusHelp" class="form-text text-muted">Enter amount for C-</small>
    </div>

    <div class="form-group">
        <label for="D_plus">D+ Grade</label>
        <input type="number" class="form-control" id="D_plus" name="D_plus"
               aria-describedby="dPlusHelp" min="0"
               placeholder=0 required>
        <small id="dPlusHelp" class="form-text text-muted">Enter amount for D+</small>
    </div>
    <div class="form-group">
        <label for="D">D Grade</label>
        <input type="number" class="form-control" id="D" name="D"
               aria-describedby="dHelp" min="0"
               placeholder=0 required>
        <small id="dHelp" class="form-text text-muted">Enter amount for D</small>
    </div>
    <div class="form-group">
        <label for="D_minus">D- Grade</label>
        <input type="number" class="form-control" id="D_minus" name="D_minus"
               aria-describedby="dMinusHelp" min="0"
               placeholder=0 required>
        <small id="dMinusHelp" class="form-text text-muted">Enter amount for D-</small>
    </div>

    <div class="form-group">
        <label for="Fail">Fail Grade</label>
        <input type="number" class="form-control" id="Fail" name="Fail"
               aria-describedby="failHelp" min="0"
               placeholder=0 required>
        <small id="failHelp" class="form-text text-muted">Enter amount for Fail</small>
    </div>

    <div class="form-group">
        <label for="Withdraw">Withdraw Grade</label>
        <input type="number" class="form-control" id="Withdraw" name="Withdraw"
               aria-describedby="withdrawHelp" min="0"
               placeholder=0 required>
        <small id="withdrawHelp" class="form-text text-muted">Enter amount for Withdraw</small>
    </div>

    <div class="form-group">
        <label for="Incomplete">Incomplete Grade</label>
        <input type="number" class="form-control" id="Incomplete" name="Incomplete"
               aria-describedby="incompleteHelp" min="0"
               placeholder=0 required>
        <small id="incompleteHelp" class="form-text text-muted">Enter amount for Incomplete</small>
    </div>

    <button type="submit" class="btn btn-primary" name="create_grade_distribution">Submit</button>

</form>
</body>
</head>
{% endblock %}