{% extends "base.html" %}

{% block title %}Section{% endblock %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 15px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
<body>

{% if section_list %}
<ul>
    {% for section in section_list %}
    <li><a href="#">{{section.course_name}},&nbsp;Section&nbsp;{{section.section_id}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No section are available.</p>
{% endif %}

{% if error %}
<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Failed -</strong> Error: Please check input conflicts!
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="editSection">Option</label>
        <select id="editSection" name="editSection" class="form-control">
            <option value="addSection" selected>Add A Section</option>
            {% if section_list %}
            {% for section in section_list %}
            <option>{{section.id}},{{section.course_name}},&nbsp;Section&nbsp;{{section.section_id}}</option>
            {% endfor %}
            {% else %}
            <option>No section are available, create one first.</option>
            {% endif %}
        </select>
        <small id="editGoalHelp" class="form-text text-muted">Select one if you want to edit a section</small>
    </div>

    <div class="form-group">
        <label for="course_name">Course Name</label>
        <select id="course_name" name="course_name" class="form-control">
            {% if course_list %}
            {% for course in course_list %}
            <option>{{course.subject_code}}&nbsp;{{course.course_number}},&nbsp;{{course.course_name}}</option>
            {% endfor %}
            {% else %}
            <option>No course are available, create one first.</option>
            {% endif %}
        </select>
        <small id="courseNameHelp" class="form-text text-muted">Select a course</small>
    </div>

    <div class="form-group">
        <label for="section_id">Section ID</label>
        <input type="number" class="form-control" id="section_id" name="section_id"
               aria-describedby="sectionIDHelp" min="0"
               placeholder="Example: 01" required>
        <small id="sectionIDHelp" class="form-text text-muted">Enter a section ID</small>
    </div>

    <div class="form-group">
        <label for="semester">Semester</label>
        <select id="semester" name="semester" class="form-control">
            <option value="SP">Spring</option>
            <option value="SM">Summer</option>
            <option value="FA">Fall</option>
            <option value="WT">Winter</option>
        </select>
        <small id="semesterHelp" class="form-text text-muted">Select a semester</small>
    </div>

    <div class="form-group">
        <label for="student_count">Student Amount</label>
        <input type="number" class="form-control" id="student_count" name="student_count"
               aria-describedby="studentCountHelp" min="0"
               placeholder="Example: 45" required>
        <small id="studentCountHelp" class="form-text text-muted">Enter student amount</small>
    </div>

    <div class="form-group">
        <label for="comment1">Section Comment #1</label>
        <input type="text" maxlength="255" class="form-control" id="comment1" name="comment1"
               placeholder="Example: Learning structures of databases">
    </div>

    <div class="form-group">
        <label for="comment2">Section Comment #2</label>
        <input type="text" maxlength="255" class="form-control" id="comment2" name="comment2"
               placeholder="Example: Learning ER models">
    </div>

    <div class="form-group">
        <label for="grade_distribution_id">Grade Distribution ID</label>
        <select id="grade_distribution_id" name="grade_distribution_id" class="form-control">
            <option value="null" selected> Not Graded </option>
            {% if grade_distribution_list %}
            {% for grade_distribution in grade_distribution_list %}
            <option>{{grade_distribution.grade_distribution_id}}</option>
            {% endfor %}
            {% else %}
            <option>No grade distribution are available, create one first.</option>
            {% endif %}
        </select>
        <small id="gradeDistributionIDHelp" class="form-text text-muted">Select a grade distribution ID from grade distribution page</small>
    </div>

    <button type="submit" class="btn btn-primary" name="create_section">Submit</button>
    <a class="btn btn-secondary" href="topic">Create a topic >></a>
    <a class="btn btn-secondary" href="grade_distribution">Add grade distribution >></a>
</form>
</body>
</head>
{% endblock %}